<div class="container">
  <div class="first-container">
    <div class="input-container" (click)="showfirst()">
      <input type="text" #userid />
    </div>
  </div>
  <br />
  <!-- <div class="button-container">
<button type="submit" (click)= "getValue(id.value)">Get Data</button>
</div>
<br><br> -->
  <div class="tab-container">
    <div class="inner-container">
      <!--Button 1 -->
      <div class="button-container">
        <button type="submit" (click)="get_type(userid.value, 'users')">
          Users
        </button>
      </div>
      <br /><br />
      <!--Button 2 -->
      <div class="button-container">
        <button type="submit" (click)="get_type(userid.value, 'posts')">
          Posts
        </button>
      </div>
      <br /><br />
      <!--Button 3 -->
      <div class="button-container">
        <button type="submit" (click)="get_type(userid.value, 'comments')">
          Comments
        </button>
      </div>
      <br /><br />
      <!--Button 4 -->
      <div class="button-container">
        <button type="submit" (click)="get_type(userid.value, 'albums')">
          Albums
        </button>
      </div>
      <br /><br />
      <!--Button 4 -->
      <div class="button-container">
        <button type="submit" (click)="get_type(userid.value, 'photos')">
          Photos
        </button>
      </div>
      <br /><br />
      <!--Button 4 -->
      <div class="button-container">
        <button type="submit" (click)="get_type(userid.value, 'todos')">
          Todos
        </button>
      </div>
      <br /><br />
    </div>
    <div class="side-container" [ngSwitch]="tag" [ngStyle]="{'display': show ?'initial':'none'}">
      <div *ngSwitchCase="'users'">
        <app-child [listName]="httpdata"></app-child>
      </div>
      <div *ngSwitchCase="'posts'">
        <app-postchild [listPost]="httpdata"></app-postchild>
      </div>
      <div *ngSwitchCase="'comments'">
        <app-childcomment [listComment]="httpdata"></app-childcomment>
      </div>
      <div *ngSwitchCase="'albums'">
        <app-albumchild [listAlbum]="httpdata"></app-albumchild>
      </div>
      <div *ngSwitchCase="'photos'">
        <app-photoschild [listPhoto]="httpdata"></app-photoschild>
      </div>
      <div *ngSwitchCase="'todos'">
        <app-todoschild [listTodos]="httpdata"></app-todoschild>
      </div>
    </div>
  </div>
</div>
